@font-face {
  font-family: 'Avenir';
  src:
    url('./fonts/avenir/avenirltstd-book-webfont.eot'),
    url('./fonts/avenir/avenirltstd-book-webfont.eot?#iefix') format('embedded-opentype'),
    url('./fonts/avenir/avenirltstd-book-webfont.woff') format('woff'),
    url('./fonts/avenir/avenirltstd-book-webfont.ttf') format('truetype'),
    url('./fonts/avenir/avenirltstd-book-webfont.svg#avenir') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GTEestiProRegular';
  src:
    url('./fonts/gteesti/GT-Eesti-Pro-Text-Regular.eot'),
    url('./fonts/gteesti/GT-Eesti-Pro-Text-Regular.ttf') format('truetype'),
    url('./fonts/gteesti/GT-Eesti-Pro-Text-Regular.woff') format('woff'),
    url('./fonts/gteesti/GT-Eesti-Pro-Text-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Avenir", "Segoe UI", sans-serif;
  font-size: 1em;
}

.slick-posts-dots {
  bottom: -45px !important;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  content: "\\2022";
  text-align: center;
  opacity: .25;
  background-color: #ea5b1b;
  border-radius: 50%;
}